body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
  }
  
  header {
	background-color: #4CAF50;
	color: white;
	padding: 20px;
	text-align: center;
  }
  
  footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
  }
  

#navbar {
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4CAF50;
	overflow: hidden;
  }
  
  #navbar li {
	font-size: 25px;
	margin: 5px;
	border: 1px solid black;
  }
  
  #navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  #navbar li a:hover {
	background-color: #333;
  }
  